.container {
  justify-content: flex-start;
}

.mapnavbar {
  /* Filter_Navigation */

  position: relative;
  width: 1920px;
  height: 101px;

  justify-content: flex-start;
  /* left: 0px;
    top: 128px; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mapsearch {
  /* location */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 15px;

  position: relative;
  width: 230px;
  height: 53px;
  /* left: 80px;
    top: 24px; */

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;
}

.mapfilter {
  /* school_quality */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  position: relative;
  width: 224px;
  height: 53px;
  /* left: 334px;
    top: 24px; */

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;

  /* body1 */

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  /* Text_Grey */

  color: #404040;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 18px;
}

.listcardimage {
  position: relative;
  left: 3.86%;
  right: 82.3%;
  top: 16.96%;
  bottom: 16.72%;

  width: 128px;
  height: 128px;

  flex-basis: auto;

  /* background: url(.jpg); */
  border-radius: 5px;
}

.listcard {
  position: relative;
  width: 925px;
  height: 193px;

  display: flex;

  margin: 16px 0px;

  background-color: pink;
  filter: drop-shadow(0px 4px 5px rgba(224, 120, 108, 0.25));
}

.mapcontainer {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  /* position: absolute; */
  /* width: 980px;
    height: 872px; */

  background-color: #cccccc;
  /* background-image: url("mapplaceholder.png"); */
}

.sidelist {
  /* background */

  /* position: relative; */
  width: 957px;
  height: 851px;

  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  flex-basis: auto;

  /* off - white */
  background: #fafafa;
}

.cardtitle {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  /* position: absolute; */
  width: 88px;
  height: 33px;

  /* Header2 */
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.listcardbody {
  align-content: space-around;
}

.plus_button {
  width: 3%;
  height: 100%;
}
