.container {
  justify-content: flex-start;
  margin: 0;
}

.mapnavbar {
  /* Filter_Navigation */

  width: 100vw;
  height: 12vh;

  justify-content: flex-start;
  /* left: 0px;
  top: 128px; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mapsearch {
  /* location */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 15px;

  position: relative;

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;
}

.mapfilter {
  /* school_quality */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;

  position: relative;
  width: 13vw;
  height: 5vh;
  /* left: 334px;
  top: 24px; */

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 33px;
  /* identical to box height */
}

.listcardimage {
  position: relative;
  left: 1vw;
  right: 1vw;
  top: 1vw;
  bottom: 1vw;

  width: 10vh;
  height: 10vh;

  flex-basis: auto;

  /* background: url(.jpg); */
  border-radius: 5px;
}
.col {
  display: flex;
}
.listcard {
  width: 37vw;
  height: 193px;
  display: flex;
  margin: 10px;
  /* margin: 16px 0px; */

  background-color: lightgrey;
  filter: drop-shadow(0px 4px 5px rgba(224, 120, 108, 0.25));
}

.mapcontainer {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw;
  width: 52vw;
  height: 74vh;
  /* position: absolute; */
  /* width: 980px;
  height: 872px; */

  background-color: #cccccc;
  /* background-image: url("mapplaceholder.png"); */
}

.sidelist {
  /* background */

  /* position: relative; */
  width: 37vw;
  height: 74vh;
  margin-right: 0;
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex-basis: auto;

  /* off - white */
  background: #fafafa;
}

.cardtitle {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  /* position: absolute; */
  width: 88px;
  height: 33px;

  /* Header2 */
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.listcardbody {
  align-content: space-around;
}

.plus_button {
  width: 5%;
  height: 100%;
}

#mapAndList {
  width: 100vw;
  margin-left: 0 auto;
}

#neighborContainer {
  width: 100vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.compareCardGroup {
  flex: 1;
  flex-direction: row;
}

.compareCardImage {
  height: auto;
  width: auto;

  /* width: 248px;
  height: 148px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
