.container {
  justify-content: flex-start;
  margin: 0;
}

.mapnavbar {
  height: 12vh;
  z-index: 1;
  background-color: white;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.mapsearch {
  /* location */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 15px;

  position: relative;

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;
}

.mapfilter {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;

  position: relative;
  width: 13vw;
  height: 5vh;

  /* Text_Grey */
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 33px;
  /* identical to box height */
}

.carddatatitle {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
}

.carddatabody {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1vw;

  color: #e0786c;
}

.mapnavbutton {
  background-color: white;
}

.listcardimage {
  position: relative;
  top: 35%;
  left: 5%;
  width: 5vw;
  height: 5vw;
  flex-basis: auto;
  border-radius: 5px;
}

.compareimage {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}

.col {
  display: flex;
}
.listcard {
  height: 24vh;
  /* width: 40vw; */
  display: flex;
  margin-bottom: 15px;
  /* margin-right: 15px; */
  background: #ffffff;
  /* Text_Light_Grey */

  border: 1px solid #acacac;
  box-sizing: border-box;
  border-radius: 5px;

  filter: drop-shadow(0px 4px 5px rgba(224, 120, 108, 0.08));
}

.mapcontainer {
  background-color: white;
}

@media screen and (max-width: 767px) {
  #filterMD {
    background-color: white;
    width: 50vw;
  }
  #compareBtn {
    margin-left: 2.3vw;
    width: 13vw;
  }
  #saveBtn {
    width: 13vw;
  }
  #toggle-btn {
    position: fixed;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 768px) {
  #compareBtn {
    /* height: 5vh; */
    min-height: 32px;
  }
}

.sidelist {
  /* background */

  /* position: relative; */
  width: 37vw;
  height: 74vh;
  margin-right: 0;
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex-basis: auto;

  /* off - white */
  background: #fafafa;
}

.cardtitle {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 88px;
  height: 33px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.listcardbody {
  align-content: space-around;
}

.pagination {
  width: 30vw;
}

.plusbutton {
  width: 5%;
  height: 100%;

  border: 1px solid #e0786c;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;

  background-color: #ffffff;
}

#neighborContainer {
  width: 100vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.compareCardGroup {
  flex: 1;
  flex-direction: row;
}

.compareCardImage {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
